#header{
    background-color: hsl(180, 8%, 52%); 
    width: 100%;
    height: 100px;
}
.headerIMG{
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 455px){
    #header{
        background-color: hsl(180, 8%, 52%); 
        width: 450px;
        height: 50px;
    }
}
